@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer base {
  h2 {
    @apply font-sans text-2xl font-semibold
    md:text-3xl
    lg:text-4xl
    xl:text-5xl
    2xl:text-6xl;
  }

  section {
    @apply mx-auto my-2 flex w-full flex-col items-center space-y-7 px-8
    text-center text-base
    sm:my-4 sm:max-w-xl sm:space-y-8
    md:my-8 md:max-w-2xl md:space-y-9 md:text-lg
    lg:my-16 lg:max-w-3xl lg:space-y-11 lg:text-xl
    xl:my-24 xl:max-w-4xl xl:space-y-12 xl:text-2xl
    2xl:my-32 2xl:max-w-6xl 2xl:space-y-14 2xl:text-3xl;
  }
}

@layer components {
  .responsive-block-space {
    @apply space-y-8
    md:space-y-10
    lg:space-y-12
    xl:space-y-14
    2xl:space-y-16;
  }

  .banner {
    @apply min-h-[calc(100vw*296/360)] space-y-4
    bg-[url('/images/mobile/background.avif'),url('/images/mobile/background.webp'),url('/images/mobile/background.jpg')]
    bg-cover sm:min-h-[calc(100vw*830/1920)] sm:bg-[url('/images/desktop/background.avif'),url('/images/desktop/background.webp'),url('/images/desktop/background.jpg')];
    background-color: hsl(248deg 64% 42% / 80%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  .services-separator {
    @apply mx-auto my-10 h-[3px] w-3/4 rounded-sm bg-primary md:w-1/2;
  }

  .text-shadow {
    text-shadow: 0px 2px 3px #000000;
  }

  .text-shadow-lg {
    text-shadow: 0px 4px 4px #000000;
  }

  .hamburguer {
    @apply relative z-40 block h-6 w-6 cursor-pointer transition-all duration-[250ms]
focus:outline-none lg:hidden;
  }

  .hamburguer-top,
  .hamburguer-middle,
  .hamburguer-bottom {
    @apply absolute top-0 left-0 h-[2px] w-6 rotate-0 bg-white transition-all duration-[0.5s];
  }

  .hamburguer-middle {
    @apply translate-y-[7px];
  }
  .hamburguer-bottom {
    @apply translate-y-[14px];
  }

  .open {
    @apply rotate-90;
  }

  .open .hamburguer-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  .open .hamburguer-middle {
    @apply hidden;
  }

  .open .hamburguer-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
}
